.pattern {
  position: absolute;
  height: 100%;
  z-index: 0;
  user-select: none;
}

.loading {
  background-image: url("../assets/loading.svg");
  background-repeat: repeat-y;
  background-size: cover;
  position: fixed;
}

.clock {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 75px;
}

.project-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 50px;
  row-gap: 75px;
  margin: 30px 0px;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.beige-bg {
  background-color: var(--ti-beige);
  margin: 0px -100px;
  padding: 5px 100px;
}

.mobile-proto {
  max-inline-size: 100%;
  margin-bottom: 50px;
}

.web-proto {
  max-inline-size: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.project-image {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 10px solid white;
  -webkit-filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
}

.image-tag:hover {
  transform: scale(0.95);
}

.label {
  width: fit-content;
  background-color: #f9f8cc;
  font-size: 20px;
  font-family: "Grand Wilson Sans";
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 70px;
  padding-right: 55px;
  -webkit-filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
}

.pointer {
  position: absolute;
  top: 30px;
  right: -25px;
  width: 50px;
  z-index: 1;
  -webkit-filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
}

.checkbox {
  width: 30px;
  position: absolute;
  margin-left: 5px;
  z-index: 1;
}

.width-scale {
  text-align: center;
  max-width: 340px;
}

.image-frame {
  display: flex;
  justify-content: center;
}

.skill {
  display: flex;
  gap: 10px;
  left: 10px;
  bottom: 30px;
  position: absolute;
}

.MuiChip-label {
  color: var(--ti-bg);
  font-family: "Fakt Soft";
  font-size: 18px;
  font-weight: 600;
}

.image-tag {
  display: flex;
  flex-direction: column;
  position: relative;
  transform: scale(0.9);
}

@media (max-width: 1200px) {
  .project-flex {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .project-flex {
    grid-template-columns: auto;
  }
}
