.code-project {
  padding: 145px 100px 25px 100px;
}

.ui-project {
  padding: 0 100px 0 100px;
}

.projects-header {
  display: flex;
  align-items: end;
  gap: 20px;
}

.hifis-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 100px 0 100px 0;
}

.project-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 50px;
  row-gap: 75px;
  margin: 30px 0px;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.beige-bg {
  background-color: var(--ti-beige);
  margin: 0px -100px;
  padding: 5px 100px;
}

.mobile-proto {
  max-inline-size: 100%;
  margin-bottom: 50px;
}

.web-proto {
  max-inline-size: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.project-image {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px solid white;
  -webkit-filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
}

.image-tag {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.image-tag:hover {
  transform: scale(1.05);
}

.name-tag {
  display: flex;
  align-items: center;
  background-color: #f9f8cc;
  -webkit-filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
}

.label {
  font-size: 20px;
  font-family: "Grand Wilson Sans";
  font-weight: 400;
  padding: 10px 45px 5px 40px;
}

.checkbox {
  margin-left: 5px;
}

.pointer {
  position: absolute;
  top: 25px;
  right: -35px;
  width: 50px;
  z-index: 1;
  -webkit-filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
}

.width-scale {
  text-align: center;
  max-width: 340px;
}

.image-frame {
  display: flex;
  justify-content: center;
}

.skill {
  display: flex;
  gap: 10px;
  left: 20px;
  bottom: 40px;
  position: absolute;
}

.MuiChip-label {
  color: var(--ti-bg);
  font-family: "Fakt Soft";
  font-size: 16px;
  font-weight: 600;
}

.project-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
}

.nav-left {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  left: 0;
}

.nav-right {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  right: 0;
}

.project-button {
  background: var(--ti-brown);
  color: white;
  padding: 5px 20px;
}

.peekaboo {
  width: 250px;
  margin-top: 50px;
}

.kuro {
  width: 300px;
  margin-top: 100px;
}

.chase {
  width: 300px;
  margin-top: 50px;
}

.chat {
  width: 250px;
}

.cheers {
  width: 200px;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .project-flex {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .project-flex {
    grid-template-columns: auto;
  }

  .code-project {
    padding: 145px 50px 75px 50px;
  }

  .ui-project {
    padding: 0 50px 0 50px;
  }

  .header-img {
    display: none;
  }

  .peekaboo {
    width: 200px;
    margin-bottom: 50px;
  }

  .kuro {
    width: 200px;
  }

  .chase {
    width: 250px;
    margin-bottom: 50px;
  }

  .chat {
    width: 200px;
    margin-top: 50px;
  }

  .project-button {
    padding: 3px 15px;
  }

  .cheers {
    width: 150px;
    margin-bottom: 50px;
  }
}
