.navigation a:link,
.navigation a:visited {
  color: var(--ti-brown);
  text-decoration: none;
}

.nav-icons {
  display: none;
}

.underline {
  display: inline-block;
  position: relative;
  width: fit-content;
}

.underline:after {
  content: "";
  position: absolute;
  background-color: var(--ti-brown);
  height: 2.5px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

.underline:hover:after {
  width: 100%;
}

.underline.active::after {
  content: "";
  position: absolute;
  background-color: var(--ti-brown);
  height: 2.5px;
  width: 100%;
  left: 0;
  bottom: -2px;
}

.underline:not(:last-child) {
  margin-right: 40px;
}

@media (max-width: 1200px) {
  .underline {
    display: none;
  }

  .nav-icons {
    display: inline-block;
  }

  .nav-icons:not(:last-child) {
    margin-right: 40px;
  }
}
