#navigation {
  color: var(--ti-brown);
  font-family: "Fakt Soft";
  font-weight: 600;
  text-align: center;
  position: fixed;

  padding-top: 25px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#navigation a:link,
#navigation a:visited {
  color: var(--ti-brown);
  text-decoration: none;
}

.nav-icons {
  display: none;
}

.underline {
  display: inline-block;
  position: relative;
  width: fit-content;
}

.underline:after {
  content: "";
  position: absolute;
  background-color: var(--ti-brown);
  height: 2.5px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

.underline:hover:after {
  width: 100%;
}

.underline.active::after {
  content: "";
  position: absolute;
  background-color: var(--ti-brown);
  height: 2.5px;
  width: 100%;
  left: 0;
  bottom: -2px;
}

.underline:not(:last-child) {
  margin-right: 40px;
}

#top-border {
  position: fixed;
  top: 0px;
  transform: rotate(180deg);
  width: 100vw;
  z-index: 2;
  -webkit-filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.2));

  user-select: none;
  pointer-events: none;
}

.middle-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#data-box {
  padding-left: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
}

#settings {
  padding-right: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
  word-spacing: 0px;
}

#internet-box {
  border: 2px solid white;
  background-color: var(--ti-brown);
  border-radius: 8px;
  width: 140px;
  height: 25px;
}

@media (max-width: 1200px) {
  #navigation {
    justify-content: center;
  }

  .underline {
    display: none;
  }

  .nav-icons {
    display: inline-block;
  }

  .nav-icons:not(:last-child) {
    margin-right: 40px;
  }

  #data-box {
    display: none;
  }

  #settings {
    display: none;
  }
}

@media (max-width: 1500px) {
  #top-border {
    height: 140px;
    width: auto;
  }
}
