/*
. = class
# = id
*/

:root {
  --ti-brown: #4D2601;
  --ti-bg: #F7F6E8;
}

/* Fakt Soft */
@font-face {
  font-family: 'Fakt Soft'; 
  src: url('fonts/fakt-soft-nor.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fakt Soft'; 
  src: url('fonts/fakt-soft-smbd.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Grand Wilson Sans */
@font-face {
  font-family: 'Grand Wilson Sans'; 
  src: url('fonts/grand-wilson-sans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

a:link {
  text-decoration: none;
  color: var(--ti-brown);
}

a:visited {
  text-decoration: none;
  color: var(--ti-brown);
}

.project-link {
  font-family: 'Fakt Soft';
  font-weight: 400;
  font-size: 18px;
  color: var(--ti-brown);
  text-decoration: underline;
}

h1 {
  font-family: 'Grand Wilson Sans';
  font-weight: 400;
  font-size: 48px;
  color: var(--ti-brown);
  margin: 0;
}

h2 {
  font-family: 'Grand Wilson Sans';
  font-weight: 400;
  font-size: 36px;
  color: var(--ti-brown);
  margin: 0;
  margin-top: 50px;
}

h3 {
  font-family: 'Fakt Soft';
  font-weight: 600;
  font-size: 18px;
  color: var(--ti-brown);
  margin: 0;
}

p {
  font-family: 'Fakt Soft';
  font-weight: 400;
  font-size: 18px;
  color: var(--ti-brown);
  margin: 0;
}

#navigation {
  color: var(--ti-brown);
  font-family: 'Fakt Soft';
  font-weight: 600;
  text-align: center;
  position: fixed;
  word-spacing: 40px;

  top: 30px;

  display: flex;
  justify-content: center;
  width: 100%;

  z-index: 2;
}

#navigation a:link {
  color: var(--ti-brown);
  text-decoration: none;
}

#navigation a:visited {
  color: var(--ti-brown);
  text-decoration: none;
}

.underline {
  display: inline-block;
  position: relative;
  width: fit-content;
}

.underline a:after {
  content: "";
  position: absolute;
  background-color: var(--ti-brown);
  height: 2.5px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

.underline a:hover:after 
{
  width: 100%;
}

#name {
  color: #4D2601;
  text-align: center;
  font-family: 'Grand Wilson Sans';
  font-size: 95px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#name-w {
  letter-spacing: -25px;
}

#top-border {
  position: fixed;
  top: 0px;
  transform: rotate(180deg);
  height: 15%;
  width: 100%;
  z-index: 1;
}

#bottom-border {
  position: fixed;
  bottom: 0px;
  height: 15%;
  width: 100%;
}

.box {
  margin: 100px;
  margin-top: 150px;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  align-content: center;
}

.background-image {
  height: 100vh;
  object-fit: contain;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-52%);
}

#newspaper {
  width: 300px;
  object-fit: contain;
  max-inline-size: 100%;
  margin: 0px 100px 100px 100px;
  /* position: absolute;
  right: 200px;
  bottom: 150px; */
}

.flex-box {
  display: flex;
  flex-direction: horizontal;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-box-2 {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  align-items: space-between;
  column-gap: 100px;
  flex-wrap: wrap-reverse;
}

.flex-box-3 {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-box-4 {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-box-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#project-flex {
  display: flex;
  flex-direction: horizontal;
  align-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0px 110px;
}

.mobile-proto {
  max-inline-size: 100%;
  width: 270px;
  margin-bottom: 50px;
}

.web-proto {
  max-inline-size: 100%;
  width: 600px;
  margin-bottom: 50px;
}

.tag {
  color: var(--ti-bg);
  font-weight: 600;
  background-color: var(--ti-brown);
  margin-right: 5px;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  transform: translateX(-325px) translateY(156px);
}

.shifted-tag {
  color: var(--ti-bg);
  font-weight: 600;
  background-color: var(--ti-brown);
  margin-right: 5px;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  transform: translateX(-255px) translateY(156px);
}

.triangles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  content-visibility: auto;
}

@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

.triangles div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #E7E7D7;
  bottom: -150px;
  animation: animate 25s linear infinite;
}

.triangles div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.triangles div:nth-child(2) {
  left: 10%;
  width: 60px;
  height: 60px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.triangles div:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.triangles div:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.triangles div:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.triangles div:nth-child(6) {
  left: 75%;
  width: 80px;
  height: 80px;
  animation-delay: 3s;
}

.triangles div:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.triangles div:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.triangles div:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.triangles div:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.grow {
  transition: all .2s ease-in-out; 
}

.grow:hover {
  transform: scale(1.025);
}

.margin-sides {
  margin-left: 100px;
  margin-right: 100px;
}
.margin-left {
  margin-left: 100px;
}

.margin-right {
  margin-right: 100px;
}

@media (max-width: 800px) {
  .margin-sides {
    margin-left: 50px;
    margin-right: 50px;
  }
  .margin-left {
    margin-left: 50px;
  }

  .margin-right {
    margin-right: 50px;
  }
  
  .box {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-top: 150px;
  }
}

/* .active {
  background-color: #F7DDA8;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
} */

/* .side-nav {
  color: var(--ti-brown);
  font-family: 'Fakt Soft';
  font-weight: 600;
}

.side-nav a:link {
  padding-bottom: 50px;
  color: var(--ti-brown);
  text-decoration: none;
}

.side-nav a:visited {
  color: var(--ti-brown);
  text-decoration: none;
} */

html {
  overflow-x: hidden;
  background-color: var(--ti-bg);
}