/*
. = class
# = id
*/

:root {
  --ti-brown: hsl(29, 97%, 15%);
  --ti-bg: #f7f6e8;
  --ti-beige: #e7e7d7;
}

/* Fakt Soft */
@font-face {
  font-family: "Fakt Soft";
  src: url("fonts/fakt-soft-nor.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fakt Soft";
  src: url("fonts/fakt-soft-smbd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Grand Wilson Sans */
@font-face {
  font-family: "Grand Wilson Sans";
  src: url("fonts/grand-wilson-sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

a:link {
  text-decoration: none;
  color: var(--ti-brown);
}

a:visited {
  text-decoration: none;
  color: var(--ti-brown);
}

.project-link {
  font-family: "Fakt Soft";
  font-weight: 400;
  font-size: 18px;
  color: var(--ti-brown);
  text-decoration: underline;
}

h1 {
  font-family: "Grand Wilson Sans";
  font-weight: 400;
  font-size: 48px;
  color: var(--ti-brown);
  margin: 0;
}

h2 {
  font-family: "Grand Wilson Sans";
  font-weight: 400;
  font-size: 36px;
  color: var(--ti-brown);
  margin: 0;
  margin-top: 50px;
}

h3 {
  font-family: "Fakt Soft";
  font-weight: 600;
  font-size: 18px;
  color: var(--ti-brown);
  margin: 0;
}

p {
  font-family: "Fakt Soft";
  font-weight: 400;
  font-size: 18px;
  color: var(--ti-brown);
  margin: 0;
}

.underline-highlight {
  display: inline-block;
  position: relative;
}

.underline-highlight p {
  position: relative;
  z-index: 1;
}

.underline-highlight p:after {
  content: "";
  position: absolute;
  background-color: #efbab0;
  height: 2.5px;
  width: 100%;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
  z-index: -1;
  width: calc(100% + 6px);
  left: -3px;
}

.underline-highlight p:hover:after {
  height: 15px;
}

.box {
  position: relative;
  margin: 100px;
  margin-top: 145px;
}

.box-2 {
  margin: 0px 100px;
}

.icon-text span {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  align-content: center;
}

.icon-shadow {
  width: 30px;
  height: 30px;
  align-content: center;
  -webkit-filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
}

.drop-shadow {
  -webkit-filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.2));
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.flex-box-2 {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  column-gap: 100px;
  flex-wrap: wrap-reverse;
}

.flex-box-3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-box-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.web-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  width: 100%;
  justify-items: center;
  margin-top: 30px;
}

.mobile-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-top: 30px;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.component-scale {
  display: flex;
  width: fit-content;
  padding-bottom: 15px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.mask {
  position: absolute;
  top: 0;
  background-color: var(--ti-bg);
  mask-image: url(./assets/torohead.svg);
  -webkit-mask-image: url(./assets/torohead.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 0%;
  -webkit-mask-size: 0%;
  animation: maskTransition 3s 1s ease-in-out forwards;
  will-change: -webkit-mask-size, mask-size, -webkit-mask-position,
    mask-position;
}

@keyframes maskTransition {
  from {
    mask-size: 0%;
    -webkit-mask-size: 0%;
    mask-position: center 100%;
    -webkit-mask-position: center 100%;
  }
  to {
    mask-size: 150%;
    -webkit-mask-size: 150%;
    mask-position: center 100%;
    -webkit-mask-position: center 100%;
  }
}

.mask-hide {
  position: absolute;
  mask-image: none;
  -webkit-mask-image: none;
}

.hide {
  display: none;
}

@media (max-width: 800px) {
  .project-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .box {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-top: 150px;
  }

  .flex-box {
    justify-content: center;
  }

  .component-scale {
    transform: scale(0.9);
    transform-origin: top left;
    padding-bottom: 0px;
  }

  .width-scale {
    max-width: 310px;
  }

  .mobile-grid,
  .web-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1200px) {
  .mask {
    mask-image: none;
  }
}

::selection {
  background: var(--ti-brown);
  color: var(--ti-bg);
}

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--ti-bg);
}
